@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
body {
    margin: 0;
    padding: 0;
    /* background: url("image/bg.png") no-repeat; */
    height: 100vh;
    /* font-family: Roboto !important; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
    font-weight: 600 !important;
}
@media screen and (max-width: 1920px) {
    body {
        background-size: auto;
        background-position: fixed;
    }
}
#particles-js {
    height: 100%;
}

h2{
  font-size: 38px !important;
  font-weight: 600 !important;
  line-height: 56px !important;
}

h6{
  font-size: 12px !important;
  font-weight: 600 !important;
}

.link-forget-password{
  background: linear-gradient(89.99deg, #5261DA 85%, #653CDC 90.16%, #A182E2 95.31%, #02A3D6 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 1000 !important;
  font-size: 12px !important;
  text-align: right !important;

}

input::placeholder{
  font-size: 12px !important;
  color: white !important;
}

input{
  background-color: #1F2942 !important;
  border-color: #1F2942 !important;
  outline: none !important;
  color: white !important;
  font-size: 12px !important;

}

input:disabled{
  background-color:  #2B2B2B !important;
  border-color:  #2B2B2B !important;

}

input:disabled::-webkit-input-placeholder {
  color: #555758 !important;
}

textarea{
  background-color: #1F2942 !important;
  border-color: #1F2942 !important;
  outline: none !important;
  font-size: 12px !important;
}

textarea::placeholder{
  color: white !important;
}

.btn-primary{
  background: linear-gradient(90deg, #5261DA 0%, #653CDC 34.37%, #A182E2 68.75%, #02A3D6 100%), #1F2942 !important;
  font-weight: 600 !important;
}

.btn-outline-primary{
  border-color: linear-gradient(90deg, #5261DA 0%, #653CDC 34.37%, #A182E2 68.75%, #02A3D6 100%), #1F2942 !important;
  color: linear-gradient(90deg, #5261DA 0%, #653CDC 34.37%, #A182E2 68.75%, #02A3D6 100%), #1F2942 !important;
  font-weight: 600 !important;
}

.btn-outline-primary:hover{
  background: linear-gradient(90deg, #5261DA 0%, #653CDC 34.37%, #A182E2 68.75%, #02A3D6 100%), #1F2942 !important;
}

.bg-primary{
    background: linear-gradient(90deg, #5261DA 0%, #653CDC 34.37%, #A182E2 68.75%, #02A3D6 100%), #1F2942 !important;
  }



.bg-dark {
    background: #1e1e1e  !important;
}

.bg-dark-content {
    background: #0F1112 !important;
}

.w-content{
    width: 96% !important;
}

.nav{
  font-size: 12px !important;
  font-weight: 600;

}

a{
  text-decoration: none;
  color: white;
}

.nav-active{
  color: blueviolet;
}

.ms-n5{
  margin-left: -4rem !important;
}

.rounded-card{
 border-radius: 30px;
}

h2{
  font-size: 54px;
}

.badge{
  font-size: 12px;
  color: black;
}

.rounded-half-card{
  border-radius: 30px 30px 0px 0px !important;
}

.bg-new-content{
  background: linear-gradient(90deg, #5261DA 0%, #653CDC 34.37%, #A182E2 68.75%, #02A3D6 100%), #1F2942 !important;
}

.bg-smoke{
  background: rgba(255, 255, 255, 0.1) !important;
}

.bg-green{
  background: #00CC99;
}

.btn-secondary{
  background: #0F1112 !important;
  color: white !important;
  border-color: #0F1112 !important;
}

.btn-success{
  background: #E28173 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}

.pnew-2{
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.bg-footer{
  background: #263054 !important;
}

.text-center {
  margin: auto !important;
}

.ms-n4{
  margin-left: -3rem !important;
}

marquee{
  background: linear-gradient(90deg, #5261DA 0%, #653CDC 34.37%, #A182E2 68.75%, #02A3D6 100%), #1F2942 !important;

  overflow: hidden;
  white-space: nowrap;

  color: white;
  margin: auto;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

marquee span {
  display: inline-block;
  font-size: 20px;
  position: relative;
  left: 100%;
  animation: marquee 18s linear infinite;
}

.bg-navbar{
  background: rgba(30, 39, 63, 0.3);
}

.welcome-section{
  margin-left: 0.75rem;
}

.font-primary{
  color: #3F3F46;

}

.font-primaryL:hover{
  background: linear-gradient(89.99deg, #5261DA 85%, #653CDC 90.16%, #A182E2 95.31%, #02A3D6 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.font-primary-active{
  background: linear-gradient(89.99deg, #5261DA 85%, #653CDC 90.16%, #A182E2 95.31%, #02A3D6 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.for-link{
  padding: 0px 0px !important;
  text-align: start !important;
}

.sidebar a{
  padding-left: 0px;
  text-decoration: none;
  font-size: 20px;
  color: #3F3F46;
  display: block;
}

.sidebar a:hover{
  background: linear-gradient(89.99deg, #5261DA 85%, #653CDC 90.16%, #A182E2 95.31%, #02A3D6 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.mt-new-5{
 margin-top: 3.75rem;
}
.mt-custom-5{
  margin-top: 3.75rem;
 }
.searching::placeholder{
  color: #A1A1AA !important;
}

.mb-custom{
  margin-bottom: 28rem !important;
}

.me-n1{
  padding-right: -0.5rem !important;
}

.table{
  /* font-size: 12px !important;
  padding: 5px;
  border-radius: 10px !important; */
  font-size: 12px !important;
  border:solid white 1px;
  border-radius:6px;
}

.table-head{
  background: #1C243F;
  color: white;
}

.table-body{
  background: linear-gradient(90deg, #5261DA 0%, #653CDC 34.37%, #A182E2 68.75%, #02A3D6 100%), #1F2942 !important;
  color: white;
}


.btn-table{
  background: #19BE29;
  color: white;
  border-radius: 15px 15px 15px 15px !important;
  font-size: 12px !important;
}

.btn-active-left, .btn-not-active-left{
  border-radius: 20px 0px 0px 20px !important;
  padding: 20px 100px 20px 100px;
  font-size: 25px !important;
  font-weight: 600 !important;
}


.btn-active-right, .btn-not-active-right{
  border-radius: 0px 20px 20px 0px !important;
  padding: 20px 100px 20px 100px;
  font-size: 25px !important;
  font-weight: 600 !important;
}


.btn-search{
  border-radius: 5px 0px 0px 5px !important;
  background: #1F2942 !important;
}
